{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leading Engineering Construction and Infrastructure Company|Delhi</title>
    <link rel="shortcut icon" href="{% static 'Images/CV-favicon.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500;600;700&display=swap" rel="stylesheet"> {% block head %} {% endblock head %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/ConceptVenture/home.css' %}">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
    <!-- Top -->
    <div id="top"></div>

    <!-- Preloader -->
    <div id="preloader"></div>

    <header style="background-image: var(--overlay), url(/static/Images/infracon-index.jpg);">
        <div class="container">
            <nav id="navbar" class="flex justify-between">
                <a href="{% url 'infracon-index' %}" class="a-logo">Concept Infracon</a>
                <ul id="nav-links">
                    <li><a href="{% url 'infracon-index' %}">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="{% url 'home' %}#services">Services</a></li>
                    <li><a href="{% url 'home' %}#companies">Companies</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <div class="mode">
                        <ion-icon id="sun" class="active" name="sunny-outline" title="Light mode"></ion-icon>
                        <ion-icon id="moon" name="moon-outline" title="Dark mode"></ion-icon>
                    </div>
                </ul>
                <div class="menu" id="menu">
                    <span class="line1"></span>
                    <span class="line2"></span>
                    <span class="line3"></span>
                </div>
            </nav>
            <div class="content-box flex">
                <div>
                    <h1>Concept Infracon</h1>
                    <p>At Concept Infracon, we believe that each development has to be inclusive and beneficial for the community.</p>
                </div>
            </div>
        </div>
        <div class="sidebar flex justify-between flex-column">
            <a href="{% url 'home' %}"><img src="{% static 'Images/cv-circle.svg' %}" alt="Concept Ventures" width="30px"></a>
            <div class="flex flex-column social-icons">
                <a href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </div>
        </div>
    </header>
    <section id="about" class="margin">
        <div class="container">
            <div class="flex align-stretch">
                <div class="col-70">
                    <div class="text-box">
                        <h1 class="big">About Us</h1>
                        <p>At Concept Infracon, we believe that each development has to be inclusive and beneficial for the community.</p>
                        <p>We deliver projects of the highest quality, with a customer centric approach. Keeping up with the ever changing trends of construction, the company remains committed to its core professional values. Concept Infracon was established
                            in the year 2011 and is into the field of construction and EPC and power of infra projects and power plants. The companies verticals are well supported by its fluent and effective distribution network, providing a strong base
                            for client support. The focus of each development carried out by Concept Infracon is to develop each site in harmony with nature. Commitment to environment is one of the principle values of the company.</p>
                    </div>
                </div>
                <div class="col-30">
                    <div class="image" style="background-image: url(/static/Images/infracon.jpg);"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3085.1160605556993!2d77.04111263428433!3d28.594885493108293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1ac561555555%3A0xca35175ccefac24f!2sConcept%20Ventures!5e0!3m2!1sen!2sin!4v1644589975416!5m2!1sen!2sin"
                width="100%" height="100%" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
        </div>
        <div class="contact-box flex align-stretch">
            <div class="contact-us">
                <p class="small">Contact Us</p>
                <div class="contact-info flex">
                    <div class="flex">
                        <span><ion-icon name="call-outline"></ion-icon></span>
                        <span>+91 9958264788</span>
                    </div>
                    <div class="flex">
                        <span><ion-icon name="mail-open-outline"></ion-icon></span>
                        <span>info@concetventures.in</span>
                    </div>
                    <div class="flex">
                        <span><ion-icon name="location-outline"></ion-icon></span>
                        <span>S-202, 2nd Floor, Best Arcade, Plot No.- 3, Pocket - 6, Sector - 12, Dwarka, New Delhi, 110075</span>
                    </div>
                    <div class="flex">
                        <span><ion-icon name="time-outline"></ion-icon></span>
                        <span>9:00 AM to 7:00 PM</span>
                    </div>
                </div>
            </div>
            <div class="get-in-touch">
                <p class="small">Get in Touch</p>
                <p>Feel free to contact with us</p>
                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="name" id="name" class="form-control" placeholder="Your name" required>
                    <input type="text" name="your_mail" id="email" class="form-control" placeholder="Email here" required>
                    <textarea name="message" rows="1" class="form-control" placeholder="Type your message" required></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-top">
            <div class="flex footer-flex">
                <div class="footer-col-30">
                    <a href="{% url 'home' %}"><img src="{% static 'Images/cv-logo-white.svg' %}" alt="logo" class="logo"></a>
                    <p>Concept Venture is a parasol organization that holds other firms and has numerous projects running successfully under its wings.</p>
                </div>
                <div class="footer-col-20">
                    <p class="tab">Explore</p>
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">
                                <ion-icon name="arrow-forward-outline"></ion-icon> Home
                            </a>
                        </li>
                        <li>
                            <a href="#services">
                                <ion-icon name="arrow-forward-outline"></ion-icon> Services
                            </a>
                        </li>
                        <li>
                            <a href="#about">
                                <ion-icon name="arrow-forward-outline"></ion-icon> About
                            </a>
                        </li>
                        <li>
                            <a href="#contact">
                                <ion-icon name="arrow-forward-outline"></ion-icon> Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col-20">
                    <p class="tab">Regd. Office</p>
                    <p style="width: 80%;">S-202 ,2nd Floor,Best Arcade,Plot No.- 3, Pocket - 6,Sector - 12, Dwarka,New Delhi, 110075</p>
                </div>
                <div class="footer-col-30">
                    <p class="tab">Corporate Office</p>
                    <p style="width: 80%;">816-2nd Floor, Udyog Vihar, Phase-5, Gurgaon, Haryana-122016 , Phone:+91-124-4145847</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright ©2018 | All rights reserved </p>
        </div>
    </footer>

    <!-- Cookie Consent -->
    <div id="cookie">
        <div class="consent">
            <p>By clicking “Accept All Cookies”, you agree to the storing of cookies on your device to enhance site navigation, analyze site usage, and assist in our marketing efforts.</p>
            <div class="buttons flex justify-center">
                <button id="cookie-btn" class="item">Accept All Cookies</button>
                <a href="{% url 'privacy-policy' %}#cookie-policy">Cookie Policy</a>
            </div>
        </div>
    </div>

    <!-- Whatsapp click to chat -->
    <div id="whatsapp">
        <a href=" https://wa.me/918578846111?text=I%20%20have%20a%20querry%20can%20you%20please%20help?" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>
        </a>
    </div>

    <!-- Back to top button -->
    <div id="back-to-top" class="flex justify-center" title="Back to top">
        <a href="#top">
            <ion-icon name="arrow-up-outline"></ion-icon>
        </a>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'JS/common.js' %}"></script>
</body>

</html>