{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Password For Your Account</title>
    <link rel="icon" href="{% static 'Images/crm-logo.png' %}" type="image" sizes="20x20">
    <link rel="stylesheet" href="{% static 'CSS/registration.css' %}">
</head>

<body>
    {% for message in messages %}
    <p id="message" class="{{message.tags}}">{{message}}</p>
    {% endfor %}
    <div class="registration-page">
        <a href="{% url 'index' %}"><img src="{% static 'Images/crm-logo.png' %}" alt="logo" width="120px;" style="margin: 20px;"></a>
        <div class="registration-box">
            <div class="form-box">
                <h1>Reset Password</h1>
                <form action="{% url 'request-reset-password' uidb64 token %}" method="POST">
                    {% csrf_token %}
                    <label for="password1">Password</label>
                    <input type="password" name="password1" id="password1" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$" required>
                    <p>Password must contain a minimum of 8 characters and at least one uppercase, one lowercase, one number and one symbol</p>

                    <label for="password2">Password confirmation</label>
                    <input type="password" name="password2" id="password2" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$" required>
                    <div class="bottom-text">
                        <input type="submit" value="Confirm">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>