{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <link rel="icon" href="{% static 'Images/crm-logo.png' %}" type="image" sizes="20x20">
    <link rel="stylesheet" href="{% static 'CSS/registration.css' %}">
</head>

<body>
    {% for message in messages %}
    <p id="message" class="{{message.tags}}">{{message}}</p>
    {% endfor %}
    <div class="registration-page">
        <a href="{% url 'index' %}"><img src="{% static 'Images/crm-logo.png' %}" alt="logo" class="logo" width="120px;" style="margin: 20px;"></a>
        <div class="registration-box">
            <div class="form-box">
                <h1>Forgot Passsword?</h1>
                <form action="{% url 'reset-password' %}" method="POST">
                    {% csrf_token %}
                    <p class="large-text">Luckily, you can create a new one right here. Please indicate your email in the field below</p>
                    <div class="input-group">
                        <input type="email" name="email" id="email" class="input-field" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="bottom-text">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>